.table {
	&__items {
		& > * {
			border-bottom : 1px dashed var(--color-stroke-primary);

			@media (min-width : map(breakpoints, min, lg)) {
				border-bottom-style : solid;
			}
		}
	}

	&__title {
		margin-bottom : 16px;
		display       : block;
		max-width     : 70%;
	}

	&__item {
		display         : flex;
		justify-content : space-between;
		align-items     : center;
		column-gap      : 32px;
		padding         : 16px;
		user-select     : none;

		&:hover {
			background-color : var(--color-background-secondary);
		}
	}
}