@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";
@use "/src/settings/styles/functions";

.personal-account {

  &.mobile {
    .personal-account__wrapper {
      & > *:not(.personal-account__menu) {
        display: none;
      }

      .personal-account__menu {
        display: flex;
        flex-direction: column;
      }

      .personal-account__links {
        margin-bottom: 172px;
      }
    }
  }

  &__wrapper {
    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      display: flex;
      column-gap: 32px;
    }
  }

  &__menu {
    display: none;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 280px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      position: sticky;
      top: 144px;
      max-height: 72vh;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      min-width: 280px;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 24px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      margin-bottom: 32px;
    }

    &-avatar {
      width: 71px;
      height: 71px;
      aspect-ratio: 1/1;
      border-radius: 99px;
      object-fit: cover;
    }

    &-name {
      &:not(:last-child) {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      column-gap: 2px;
      padding: unset;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      color: var(--color-text-negative);
      background-color: transparent;
      border: none;
      transition: var(--transition-default);
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
      }

      &:hover,
      &:focus-visible {
        outline: none;
        color: #F8B7AA;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      row-gap: 12px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    font-size: functions.getClamp(14, 24);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.24px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      padding: unset;
    }

    svg {
      width: 16px;
      height: 16px;

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -16px;
      left: -16px;
      background-color: var(--color-background-secondary);
      z-index: -1;
      opacity: 0;
      transition: opacity var(--transition-default);

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        display: none;
      }
    }

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        bottom: -0.5px;
        right: -16px;
        left: -16px;
        height: 1px;
        background-color: var(--color-stroke-primary);

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          display: none;
        }
      }
    }

    &:hover,
    &:focus-visible,
    &:active {
      &:before {
        opacity: 1;
      }
    }

    &.active {
      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        color: var(--color-text-tertiary);
      }
    }
  }

  &__support {
    margin-top: auto;

    &-btn {
      display: flex;
      column-gap: 14px;
      padding: unset;
      text-align: left;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        outline: none;

        svg {
          fill: var(--color-icon-accent);
        }
      }

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        flex-direction: column;
      }

      &.desktop {
        display: none;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          display: flex;
        }
      }

      &.mobile {
        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          display: none;
        }
      }
    }

    &-icon {
      width: 48px;
      height: 48px;
      fill: var(--color-icon-tertiary);
      transition: fill var(--transition-default);

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        margin-bottom: 14px;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    &-text {
      font-size: functions.getClamp(14, 16);
      font-weight: 500;
      line-height: 1.5;
    }

    &-title {
      font-size: functions.getClamp(18, 24);
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.24px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: functions.getClamp(24, 36);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.48px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      margin-bottom: 48px;
    }
  }

  &__user {
    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      flex-grow: 1;
      padding-left: 48px;
      border-left: 1px solid var(--color-stroke-primary);
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      max-width: 470px;
    }

    .personal-account__form {
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      &:not(:last-child) {
        margin-bottom: 56px;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: unset;
        margin: unset;
        border: none;

        input {
          padding-left: 28px;

          @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
            padding-left: unset;
          }
        }
      }

      &-title {
        margin-bottom: 8px;
        padding: unset;
        font-size: functions.getClamp(18, 20);
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.18px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          margin-bottom: 16px;
        }
      }

      &-btn {
        width: 100%;

        @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
          width: fit-content;
          min-width: 240px;
        }

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          width: 100%;
        }
      }
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      flex-grow: 1;
      padding: 0 16px;
      border-left: 1px solid var(--color-stroke-primary);
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      padding: 0 32px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      padding: 0 48px;
    }

    &-content {
      position: relative;
      left: -16px;
      width: 100vw;
      overflow-x: auto;
      margin-bottom: 24px;

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        position: static;
        width: 100%;
        overflow-x: unset;
        margin-bottom: 32px;
      }
    }

    .personal-account__table {
      width: 100%;
      min-width: 682px;
      display: grid;
      grid-template-columns: repeat(5, auto);
      column-gap: 40px;

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        min-width: unset;
        column-gap: 12px;
        justify-content: stretch;
      }

      &-head {
        grid-column: span 5;
        display: grid;
        grid-template-columns: subgrid;
        padding: 0 16px 14px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          padding: 0 0 16px;
        }

        span {
          font-size: functions.getClamp(14px, 16px);
          font-weight: 500;
          line-height: 1.5;

          &:nth-last-child(2) {
            text-align: right;
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      &-body {
        grid-column: span 5;
        display: grid;
        grid-template-columns: subgrid;
      }

      &-row {
        position: relative;
        grid-column: span 5;
        display: grid;
        grid-template-columns: subgrid;
        padding: 14px 16px;
        cursor: pointer;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          padding: 16px 0;
        }

        &:nth-child(odd) {
          background-color: var(--color-background-secondary);

          @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
            position: relative;
            background-color: transparent;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: -16px;
              right: -16px;
              background-color: var(--color-background-secondary);
              z-index: -1;
            }
          }

          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            &:before {
              left: -32px;
              right: -32px;
            }
          }

          @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
            &:before {
              left: -48px;
              right: -48px;
            }
          }
        }

        span {
          font-size: functions.getClamp(14px, 16px);
          font-weight: 500;
          line-height: 1.5;

          &:nth-last-child(2) {
            text-align: right;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }

    .pagination {
      align-self: center;

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        align-self: flex-start;
      }

    }
  }


  &__order {
    width: 100%;

    &-back {
      display: none;

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        display: flex;
        height: fit-content;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    &-heading {
      display: flex;
      column-gap: 6px;
      margin-bottom: 32px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: unset;

      span {
        color: var(--color-text-secondary);
      }
    }

    &-status {
      margin-left: auto;
    }


    &-section {
      &:not(:last-child) {
        margin-bottom: 32px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          margin-bottom: 48px;
        }
      }

      &-title {
        margin-bottom: 12px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          margin-bottom: 16px;
        }
      }
    }

    .personal-account__table {
      counter-reset: product-counter;
      display: grid;
      grid-template-columns: max-content auto auto auto;
      column-gap: 8px;

      @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
        grid-template-columns: max-content auto auto auto auto;
        column-gap: 6px;
      }

      &-head {
        display: none;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          display: grid;
          grid-column: span 5;
          grid-template-columns: subgrid;
          padding-bottom: 16px;

          span {

            &:nth-last-child(-n + 2) {
              @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
                text-align: center;
              }
            }

            &:last-child {
              @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
                text-align: right;
              }
            }
          }
        }
      }

      &-body {
        grid-column: span 4;
        display: grid;
        grid-template-columns: subgrid;
        row-gap: 16px;
        margin-bottom: 32px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          grid-column: span 5;
        }
      }

      &-row {
        grid-column: span 4;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-flow: dense;
        row-gap: 16px;
        counter-increment: product-counter;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          grid-column: span 5;
        }

        &:not(:last-child) {
          padding-bottom: 16px;
          border-bottom: 1px solid var(--color-stroke-primary);

          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            padding-bottom: unset;
            border: none;
          }
        }

        &:before {
          content: counter(product-counter);
        }

        .title {
          grid-column: span 3;

          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            grid-column: span 1;
            max-width: 500px;
          }
        }

        .info {
          grid-column: 2/ span 3;
          display: flex;
          column-gap: 16px;

          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            grid-column: 3/ span 3;
            display: grid;
            grid-template-columns: subgrid;
            column-gap: 6px;
          }
        }

        .price {

          &:after {
            content: '=';
            margin-left: 16px;

            @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
              display: none;
            }
          }
        }

        .quantity {
          order: -1;

          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            order: initial;
            text-align: center;
          }

          &:after {
            content: 'x';
            margin-left: 16px;

            @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
              display: none;
            }
          }
        }

        .total {
          @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
            text-align: right;
          }
        }
      }

      &-footer {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
          grid-column: span 5;
          row-gap: 12px;
        }

        .summary {
          display: flex;
          justify-content: space-between;
          column-gap: 6px;

          &__label {
            display: flex;
            column-gap: 6px;
            flex-grow: 1;

            &:after {
              content: '';
              flex-grow: 1;
              min-width: 24px;
              height: 1.1rem;
              border-bottom: 1px dashed var(--color-stroke-primary);
            }
          }

          &__discount {
            color: var(--color-text-accent);
          }

          &__total {
            @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
              padding-top: 12px;
            }
          }
        }
      }


    }

    &-delivery {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      &-info {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        span {
          &:last-child {
            color: var(--color-text-secondary);
          }
        }
      }
    }

    &-btn {
      width: 100%;

      @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
        max-width: fit-content;
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }

}


