@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";
@use "/src/settings/styles/functions";

.section-favorites {
  &__title {
    margin-bottom: 32px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      grid-template-columns: repeat(4, 1fr);
      gap: 48px 24px;
    }
  }
}


