.header-top {
  &__main {
    justify-content : space-between;
  }

  &__left,
  &__right,
  &__main {
    display     : flex;
    align-items : center;
  }

  &__left {
    column-gap : 24px;

    button {

      &:focus-visible {
        outline: none;
      }

      svg {
        fill: currentColor;
      }
    }
  }
}