.breadcrumbs {
	overflow      : hidden;
	margin-top    : 16px;
	margin-bottom : 24px;
	max-width     : 100%;

	&__container {
		overflow-x : auto;
	}

	&__items {
		display : flex;

		@media (min-width : map(breakpoints, min, lg)) {
			flex-wrap : wrap;
		}

		& > * {
			white-space : nowrap;

			&:not(:last-child) {
				&:after {
					content      : "•";
					display      : inline-block;
					margin-left  : 4px;
					margin-right : 4px;
					color        : var(--color-text-tertiary);
				}
			}
		}

		a {
			color : var(--color-text-tertiary);
		}
	}
}