.catalog-menu-back {
  position         : relative;
  display          : flex;
  align-items      : center;
  width            : 100%;
  border           : none;
  justify-content  : center;
  padding          : 24px 46px;
  background-color : transparent;
  color: var(--color-text-primary);
  transition: color var(--transition-default);

  &:hover,
  &:focus-visible {
    color: var(--color-text-accent);
  }

  & > svg {
    position  : absolute;
    left      : 14px;
    top       : 50%;
    transform : translateY(-50%);
    fill: currentColor;
  }
}