.radio {
  display     : flex;
  align-items : flex-start;
  column-gap  : 10px;

  &__icon {
    display  : block;
    position : relative;

    input {
      position : absolute;
      width    : 0;
      height   : 0;
      opacity  : 0;
    }

    svg {
      display : block;

      &.checked {
        display : none;
      }
    }

    input:checked {
      & ~ svg {
        &.default {
          display : none;
        }

        &.checked {
          display : block;
        }
      }
    }
  }

  &__text {
    display        : flex;
    flex-direction : column;
    row-gap        : 4px;
  }
}

.radio-group {
  display        : flex;
  flex-direction : column;
  row-gap        : 24px;
}