html {
  scroll-behavior : smooth;
}

body {
  overflow-x : hidden;

  &.no-scroll,
  &.catalog-open,
  &.menu-open,
  &.search-open,
  &.filters-open,
  &.sort-open,
  &.search-active {
    overflow-y    : hidden;
    padding-right : var(--scrollbar-width);
  }
}

#app {
  position : relative;

  & > main {
    //overflow : hidden;
    position : relative;
  }
}