html {
  scroll-behavior : smooth;
}

body {
  overflow-x : hidden;

  &.no-scroll,
  &.catalog-open,
  &.search-active {
    overflow-y    : hidden;
    padding-right : var(--scrollbar-width);
  }
}

#app {
  position : relative;
}