html {
  scroll-behavior : smooth;
}

body {
  overflow-x : hidden;

  &.no-scroll,
  &.catalog-open,
  &.menu-open,
  &.search-open,
  &.filters-open,
  &.mobile-bottom-menu-open,
  &.drawer-open,
  &.search-active {
    overflow    : hidden;
    padding-right : var(--scrollbar-width);
  }
}

#app {
  position : relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > main {
    //overflow : hidden;
    position : relative;
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}