@use "sass:map";
@use "sass:meta";
@use "/src/settings/styles/settings";
@use "/src/settings/styles/functions";
@use "/src/settings/styles/mixins";

body {
  font-family         : Manrope, sans-serif;
  font-optical-sizing : auto;
  font-style          : normal;
  color               : var(--color-text-primary);

  @extend .text-lg;
}

p {
  margin-top    : 0;
  margin-bottom : 0;

  &:not(:last-child) {
    margin-bottom : 8px;
  }
}

a {
  color           : inherit;
  text-decoration : inherit;

  &:not(.link-reset) {
    transition : color var(--transition-default);

    svg {
      transition : fill var(--transition-default);
    }

    &:hover {
      color : var(--color-text-accent);

      svg {
        fill : var(--color-text-accent);
      }
    }
  }
}

ul, ol {
  &.list-reset {
    margin              : 0;
    padding             : 0;
    list-style-type     : none;
    list-style-position : inside;
  }

  &:not(.list-reset) {
    padding-inline-start : map.get(settings.$typography, list-padding-start);
    margin-block         : map.get(settings.$typography, paragraph-margin-bottom);

    li {
      &:not(:last-child) {
        margin-bottom : map.get(settings.$typography, paragraph-margin-bottom);
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top    : 0;
  font-weight   : map.get(settings.$typography, font-weight-title);
  margin-bottom : map.get(settings.$typography, title-margin-bottom);
}

.text {
  &-no-wrap {
    white-space : nowrap;
  }

  &-uppercase {
    text-transform : uppercase;
  }

  &-center {
    text-align : center;
  }

  &-gray {
    color : var(--color-text-tertiary);
  }
}

@each $name, $value in settings.$fonts-weights {
  .font-#{$name} {
    font-weight : #{$value};
  }
}

@each $text-style, $text-size in settings.$text-sizes {
  .#{$text-style} {
    @each $size-name, $size-value in $text-size {
      &-#{$size-name} {
        @each $style-name, $style-value in map.get($text-size, $size-name) {
          @if meta.type-of($style-value) == 'map' {
            @if functions.map-has-value($style-value, 'min') and functions.map-has-value($style-value, 'max') {
              #{$style-name}: functions.getClamp(map.get($style-value, 'min'), map.get($style-value, 'max'));
            }
          } @else {
            #{$style-name}: #{$style-value};
          }
        }
      }
    }
  }
}

@each $line in settings.$text-crop-lines {
  .text-crop-#{$line} {
    @include mixins.text-crop-base;
    -webkit-line-clamp : #{$line};
  }
}