@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.section-seo-1 {

  @media (max-width: map.get(breakpoints.$breakpoints-max, sm)) {
    .__container-big {
      max-width: unset;
    }
  }

  &__wrapper {
    display: grid;
    row-gap: 24px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      column-gap: 32px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 50px auto auto 100px;
      row-gap: 32px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      column-gap: 90px;
      padding: 0 32px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xxl)) {
      padding: unset;
    }
  }

  &__top {
    position: relative;
    padding-top: 24px;
    color: var(--color-text-contrast);

    @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
      grid-column: span 2;
      padding-top: 46px;
      padding-bottom: 46px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      padding: 46px 60px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      grid-column: 1 / span 1;
      grid-row: 2/ span 1;
      max-height: fit-content;
      padding: 72px 0 60px 72px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      padding: 72px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: calc(100% + 242px);
      background: radial-gradient(81.43% 85.53% at 27.47% 55.25%, #000A12 16.75%, #082940 58.51%, #0E416D 83.7%);
      z-index: -1;

      @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
        height: 100%;
      }

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        left: calc(var(--container-width) / 2);
        width: var(--container-width);
        border-radius: 32px;
      }

      @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
        left: calc((var(--container-width) / 2) - 32px);
        width: calc(var(--container-big-width) - var(--container-mobile-padding) * 2);
        max-width: calc(100vw - var(--container-mobile-padding) * 2 );
      }

      @media (min-width: map.get(breakpoints.$breakpoints-min, xxl)) {
        left: calc(var(--container-width) / 2);
      }
    }
  }

  &__image {
    justify-self: right;
    width: 260px;
    aspect-ratio: 3/4;
    border-radius: 8px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, sm)) {
      width: 100%;
      grid-column: 2/3;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      grid-row: 1/ span 4;
      width: 450px;
      border-radius: 24px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      width: 540px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      grid-row: 3/ span 1;
      row-gap: 36px;
      padding-left: 60px;
    }

    @media (min-width: map.get(breakpoints.$breakpoints-min, xl)) {
      padding-left: unset;
    }
  }

  &__action {
    width: 100%;

    @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
      max-width: fit-content;
    }
  }

}

