@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.checkbox {
  display     : flex;
  align-items : center;
  cursor      : pointer;
  user-select : none;
  column-gap  : 8px;
  width       : fit-content;


  input {
    width    : 0;
    height   : 0;
    position : absolute;
    opacity  : 0;
    cursor   : pointer;
  }


  input {
    &:disabled {
      &:not(:checked) ~ .checkbox__icon {
        fill : var(--color-icon-quaternary);

        svg {
          &.default {
            display : none;
          }

          &.disabled {
            display : block;
          }
        }
      }

      &:checked ~ .checkbox__icon {
        fill : var(--color-icon-secondary);
      }
    }

    &:not(:disabled):hover ~ .checkbox__icon svg,
    &:not(:disabled):focus-visible ~ .checkbox__icon svg {
      fill : var(--color-icon-secondary);
    }

    &:not(:disabled):checked ~ .checkbox__icon svg {
      fill : var(--color-icon-accent);
    }

    &:not(:disabled):checked:focus ~ .checkbox__icon svg {
      opacity : .8;
    }

    & ~ .checkbox__icon svg {
      &.checked {
        display : none;
      }

      &.default {
        display : block;
      }

      &.disabled {
        display : none;
      }
    }

    &:checked ~ .checkbox__icon svg {
      &.checked {
        display : block;
      }

      &.default {
        display : none;
      }
    }
  }

  &.filter {
    @media (max-width : map.get(breakpoints.$breakpoints-max, md)) {
      input ~ .checkbox__icon,
      input ~ .checkbox__round {
        display : none;
      }

      input {
        &:checked {
          & ~ .checkbox {
            &__text {
              color            : var(--color-text-contrast);
              background-color : var(--color-background-contrast);
            }
          }
        }

        &:disabled {
          &:not(:checked) ~ .checkbox {
            &__text {
              background-color : var(--color-background-tertiary);
              opacity          : .5;
            }
          }

          &:checked ~ .checkbox {
            &__text {
              opacity : .5;
            }
          }
        }
      }

      .checkbox {
        &__text {
          padding       : 7px 11px;
          border-radius : 8px;
          border        : 1px solid var(--color-stroke-contrast);
          font-weight   : 600;
        }
      }
    }
  }

  &__round {
    width         : 12px;
    height        : 12px;
    display       : block;
    border-radius : 50%;

    &.border {
      border : 1px solid var(--color-stroke-primary);
    }
  }

  &__icon {
    display  : block;
    position : relative;

    svg {
      width  : 22px;
      height : 22px;
      fill   : var(--color-icon-tertiary);
    }
  }
}