@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.logo {
  &-header {
    width      : fit-content;
    transition : opacity var(--transition-default);

    & > svg {
      aspect-ratio : 9.5/1;
      display      : block;
      max-width    : 128px;
      width        : 100%;

      @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
        max-width : 190px;
      }
    }

    &:active,
    &:hover,
    &:focus-visible {
      opacity : .5;
    }
  }
}