.burger {
	border           : none;
	background-color : transparent;
	padding          : 0;

	&.open {
		.burger__icon {
			&-close {
				display : block;
			}

			&-open {
				display : none;
			}
		}
	}

	& .burger {
		&__icon {
			&-close {
				display : none;
			}
		}
	}
}