@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

:root {
  --drawer-width: 520px;
}

.drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 110;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.20);
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 1;
  }

  &__close {
    position: fixed;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: max-content;
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-stroke-primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transition: background-color var(--transition-default);

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: var(--color-background-tertiary);
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__wrapper {
    //position: relative;
    background-color: var(--color-background-primary);
    //transform: translateX(40%);
    //transition: transform .3s;
    width: 100%;
    max-width: map.get(breakpoints.$breakpoints-max, sm);
    z-index: 2;
    height: 100%;

    @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
      width: var(--drawer-width);
      max-width: unset;
    }
  }

  &__content {
    height: 100%;
    max-height: 100%;

    //@media (max-width : map.get(breakpoints.$breakpoints-max, md)) {
    //  width: var(--drawer-width);
    //}
  }

  &__product,
  &__product-added,
  &__support,
  &__locality,
  &__delivery-point,
  &__feedback,
  &__feedback-not-auth,
  &__login-number,
  &__login-number-confirmation-step-1,
  &__login-number-confirmation-step-2,
  &__login-captcha {
    display: none;
    padding: 128px 0 64px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;

    @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
      padding: 128px 64px 64px;
    }
  }

  &.product {
    .drawer__product {
      display: block;
    }
  }

  &.product-added {
    .drawer__product-added {
      display: block;
    }
  }

  &.support {
    .drawer__support {
      display: block;
    }
  }

  &.locality {
    .drawer__locality {
      display: block;
    }
  }

  &.delivery-point {
    .drawer__delivery-point {
      display: block;
    }
  }

  &.feedback {
    .drawer__feedback {
      display: block;
    }
  }

  &.feedback-not-auth {
    .drawer__feedback-not-auth {
      display: block;
    }
  }

  &.login-number {
    .drawer__login-number {
      display: block;
    }
  }

  &.login-number-confirmation-step-1 {
    .drawer__login-number-confirmation-step-1 {
      display: block;
      position: relative;
    }
  }

  &.login-number-confirmation-step-2 {
    .drawer__login-number-confirmation-step-2 {
      display: block;
      position: relative;
    }
  }

  &.login-captcha {
    .drawer__login-captcha {
      display: block;
      position: relative;
    }
  }

}

body.drawer-open {
  //@media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
    .drawer {
      opacity: 1;
      visibility: visible;

      //&__wrapper {
      //  transform: translateY(0);
      //}
    }
  //}
}