.sort-button {
  border           : none;
  background-color : transparent;
  display          : flex;
  align-items      : center;
  column-gap       : 4px;
  color: var(--color-text-primary);
}

.sort-handler{
  width: fit-content;
}