@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.cards-list {
  display               : grid;
  grid-template-columns : repeat(2, minmax(0, auto));
  gap                   : 16px 8px;

  @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
    grid-template-columns : repeat(3, minmax(0, auto));
  }

  @media (min-width : map.get(breakpoints.$breakpoints-min, xl)) {
    gap : 48px 16px;
  }

  &:not(&--max-3) {
    @media (min-width : map.get(breakpoints.$breakpoints-min, xl)) {
      grid-template-columns : repeat(4, minmax(0, auto));
    }
  }
}

.cards-list-header {
  display         : flex;
  justify-content : space-between;
  column-gap      : 84px;
}