@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.menu-button {
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  justify-content  : center;
  border           : none;
  background-color : transparent;
  padding          : 0;
  cursor           : pointer;
  transition       : color var(--transition-default);

  @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
    &:not(:disabled) {
      outline: none;
      &:hover,
      &:focus-visible {
        color : var(--color-text-secondary);
      }
    }
  }

  &--header {
    min-width : 56px;
    row-gap   : 2px;
  }

  &__icon {
    display  : block;
    position : relative;

    svg {
      display    : block;
      width      : 24px;
      height     : 24px;
      fill: currentColor;
      transition : fill var(--transition-default);
    }
  }

  &__badge {
    background-color : var(--color-background-negative);
    border           : 2px solid var(--color-white);
    position         : absolute;
    top              : 0;
    display          : block;

    &-count {
      @extend .menu-button__badge;
      transform     : translateY(-3px);
      left          : 50%;
      padding       : 2px 4px;
      color         : var(--color-white);
      border-radius : 16px;
      font-size     : 12px;
      font-weight   : 500;
      line-height   : 1;
      text-align    : center;
      min-width     : 20px;
    }

    &-empty {
      @extend .menu-button__badge;
      transform     : translateY(1px);
      width         : 0;
      right         : 0;
      padding       : 3px;
      border-radius : 50%;
    }
  }
}