@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-project-7);
  background-color: var(--color-project-8);
  border-radius: 6px;
}