.location {
  display          : flex;
  align-items      : center;
  column-gap       : 4px;
  background-color : transparent;
  border           : none;
  padding          : 0;
  margin           : 0;
}