@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

html {
  --container-big-width      : 1600px;
  --container-big-padding    : 48px;
  --container-mobile-padding : 16px;
  --container-width          : calc(100vw - var(--container-mobile-padding) * 2);
  --container-outer-indent   : calc((100vw - var(--container-width)) / 2);

  @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
    --container-width : calc(#{map.get(breakpoints.$breakpoints-min, md)} - var(--container-mobile-padding) * 2 );
  }

  @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
    --container-width : calc(#{map.get(breakpoints.$breakpoints-min, lg)} - var(--container-mobile-padding) * 2 );
  }

  @media (min-width : map.get(breakpoints.$breakpoints-min, xl)) {
    --container-width : calc(#{map.get(breakpoints.$breakpoints-min, xl)} - var(--container-mobile-padding) * 2 );
  }
}