@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

html {
  --header-height               : 0;
  --content-space               : 0;
  --scrollbar-width             : 0;
  --sections-indent             : 56px;
  --swiper-images-1-slide-width : 0;
  --tabbar-height               : 54px;

  @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
    --header-height   : 128px;
    --sections-indent : 96px;
  }
}