@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.tabbar {
  border-top       : 1px solid var(--color-stroke-tertiary);
  background-color : var(--color-background-primary);
  height           : var(--tabbar-height);
  display          : flex;
  width            : 100%;
  position         : sticky;
  bottom           : 0;
  left             : 0;

  @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
    display : none;
  }

  & > .menu-button {
    flex           : 1 1 auto;
    height         : 100%;
    padding-top    : 6px;
    padding-bottom : 6px;
  }
}