$button-primary : (
    default: (
        color: var(--color-text-contrast),
        border-color: var(--color-background-accent),
        background-color: var(--color-background-accent),
        fill: var(--color-text-contrast),
    ),
    hover: (
        color: var(--color-text-contrast),
        border-color: var(--color-accent-hover),
        background-color: var(--color-accent-hover),
        fill: var(--color-text-contrast),
    ),
    active: (
        color: var(--color-text-contrast),
        border-color: var(--color-accent-hover),
        background-color: var(--color-accent-hover),
        fill: var(--color-text-contrast),
    ),
)