$button-transparent: (
        default: (
                color: var(--color-text-primary),
                background-color: transparent,
        ),
        hover: (
                background-color: var(--color-highlight-primary),
        ),
        focus-visible: (
                outline: none,
                background-color: var(--color-highlight-primary),
        ),
        active: (
                background-color: var(--color-highlight-primary),
        ),
)