@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.catalog-menu-wrapper {
  position: fixed;
  right: 0;
  top: var(--header-height);
  width: 100vw;
  height: calc(100% - var(--header-height) - var(--tabbar-height));
  opacity: 0;
  visibility: hidden;
  z-index: 91;

  @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
    width: 40%;
  }

  @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
    height: 100vh;
    width: 100vw;
    left: 0;
    right: unset;
  }
}

body.catalog-open {
  .catalog-menu-wrapper {
    opacity: 1;
    visibility: visible;
  }

  &:where(.catalog-lvl2-open) {
    .catalog-menu {
      &__lvl1 {
        &-wrapper {
          transform: translateX(100%);
        }
      }

      &__lvl2 {
        transform: translateX(0);
      }
    }
  }
}

.catalog-menu-main {
  position         : relative;
  width            : 100%;
  height           : 100%;
  background-color : var(--color-background-primary);
  z-index          : 2;

  @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
    top: 1px;
    height: 60%;
    border-top: 1px solid var(--color-stroke-primary);
  }

  .__container {
    height: 100%;

    @media (max-width: map.get(breakpoints.$breakpoints-max, md)) {
      max-width: unset;
    }
  }
}

.catalog-menu-background {
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.catalog-menu {
  position: relative;
  height: 100%;
  overflow: hidden;

  @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
    column-gap: 4px;
    display: grid;
    grid-template-columns: 235px auto;
  }

  &__lvl1 {
    height: 100%;

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      padding: 16px 0 40px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      overflow-anchor: none;
      row-gap: 6px;
      width: 100%;
      padding-bottom: 24px;
      padding-left: 6px;

      @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
        width: unset;
        padding: 0 8px 0 0;
        height: 100%;
      }
    }

  }

  &__lvl2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color : var(--color-background-primary);

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      position: static;
      transform: none;
      width: unset;
      height: unset;
      padding: 24px 0 40px 32px;
      border-left: 1px solid var(--color-stroke-primary);
    }

    &-wrapper {
      height: 100%;

    }

    &-title {
      display: flex;
      align-items: center;
      column-gap: 12px;
      margin-bottom: 12px;
    }

    &-groups {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;

      @media (max-width: map.get(breakpoints.$breakpoints-max, md)) {
        flex-direction: column;
        gap: 48px;
      }
    }
  }
}