@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.header {
  display        : flex;
  flex-direction : column;
  row-gap        : 16px;

  @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
    padding-top    : 16px;
    padding-bottom : 16px;
  }
}

.header-burger {
  .header-burger__active {
    display : none;
  }

  &.active {
    .header-burger__active {
      display : block;
    }

    .header-burger__default {
      display : none;
    }
  }
}