@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";

.section-page-header {
  @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
    margin-top : 16px;
  }

  &__container {
    @media (max-width : map.get(breakpoints.$breakpoints-max, sm)) {
      max-width : 100%;
    }
  }

  &__image {
    width        : 100%;
    object-fit   : cover;
    aspect-ratio : 1.31/1;

    @media (min-width : map.get(breakpoints.$breakpoints-min, md)) {
      border-radius : 24px;
      aspect-ratio  : 3/1;
    }

    @media (min-width : map.get(breakpoints.$breakpoints-min, lg)) {
      border-radius : 32px;
      aspect-ratio  : 4.28/1;
    }
  }
}