@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";
@use "/src/settings/styles/functions";

.input {

  &-group {
    display: block;
    width: 100%;

    &.valid {
      .input-field {
        border-bottom: 1px solid var(--color-stroke-positive);
      }
    }

    &.invalid {
      .input-field {
        border-bottom: 1px solid var(--color-stroke-negative);
      }
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &.required {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url("assets/media/icons/multiplication.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          left: -32px;
        }
      }

      .input-field {
        padding-left: 28px;

        @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
          padding-left: unset;
        }
      }
    }

  }

  &-field {
    width: 100%;
    font-size: functions.getClamp(14, 16);
    font-weight: 400;
    line-height: 1.5;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid var(--color-stroke-primary);
    background-color: var(--color-background-primary);
    transition: border-bottom-color var(--transition-default);

    &:hover,
    &:focus-visible {
      outline: unset;
      border-bottom: 1px solid var(--color-stroke-contrast);
    }

    &:focus {
      outline: unset;
      border-bottom: 1px solid var(--color-stroke-accent);
    }

    &:active {
      border-bottom: 1px solid var(--color-stroke-accent);
    }

    &::placeholder {
      font-size: functions.getClamp(14, 16);
      font-weight: 400;
      line-height: 1.5;
      color: var(--color-text-tertiary);
    }

    &--sm {
      padding: 9px 0;
    }

    &--md {
      padding: 13px 0;
    }

    &--lg {
      padding: 17px 0;
    }

  }

  &-hint {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-text-tertiary);
  }

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}