@use "sass:map";
@use "/src/settings/styles/breakpoints/breakpoints";
@use "/src/settings/styles/functions";

.order {

  &__title {
    margin-bottom: 32px;
    font-size: functions.getClamp(24, 36);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.48px;

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      margin-bottom: 56px;
    }
  }

  &__accordion {
    grid-area: accord;
    padding-top: 24px;

    &-summary {
      display: flex;
      justify-content: space-between;
      list-style: none;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.18px;
    }

    &-arrow {
      width: 24px;
      height: 24px;
      transition: transform var(--transition-default);
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition-duration: 0.3s;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: unset;
      }

      @media (min-width: map.get(breakpoints.$breakpoints-min, md)) {
        margin-bottom: 24px;
      }
    }

    &-body {
      overflow: hidden;
    }

    &-text {
      font-size: functions.getClamp(14, 16);
      font-weight: 400;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &--secondary {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
        color: var(--color-text-secondary);
      }
    }

    &-details[open] {
      .order__accordion-arrow {
        transform: rotate(180deg);
      }

    }

    &-details[open] + .order__accordion-content {
      grid-template-rows: 1fr;
      padding-top: 12px;
    }
  }

  &__bar {
    position: fixed;
    left: 0;
    bottom: 54px;
    width: 100vw;
    padding: 16px 0 8px;
    transform: translateY(0);
    transition: transform var(--transition-default);
    background-color: var(--color-background-primary);

    @media (min-width: map.get(breakpoints.$breakpoints-min, lg)) {
      display: none;
    }

    &-wrapper {
      max-width: var(--container-width);
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      column-gap: 16px;
    }

    &.scrolled {
      transform: translateY(40%);

      .section-cart__bar-wrapper > * {
        display: none;
      }
    }

    &-price {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      column-gap: 12px;
      max-width: fit-content;

      &-total {
        grid-column: span 2;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
      }

      &-normal {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.2px;
      }
    }

    &-btn {
      width: 100%;
      max-width: 50%;
    }
  }
}

